<launch>
	<arg
                name="result"
                default="NA"
        />
	<node
		pkg = "beginner_tutorials"
		name = "talker"
		type = "talker"
		output = "screen"
                args="$(arg result)"
	/>
	<node
		pkg = "beginner_tutorials"
		name = "listener"
		type = "listener"
		output = "screen"
		launch-prefix="gnome-terminal --command"
	/>
</launch>
